@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

.content {
	width: 100%;
/*	min-height: 100vh;*/
	position: relative; /*EDIT HERE if errors*/
	display: grid;
	top: 3.1em;
/*	padding-bottom: 2em;*/
}

.content-1 {
	width: 100%;
/*	height: 100%;*/
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2.5rem;
	padding: 0 14%;
}
.content-tail {
	width: 100%;
/*	background: #D5CEE2;*/
	background: #e1dcea;
	position: relative; /*try used relative*/
	padding: 0 13%; /*edit here*/
	margin-top: 1em;
	margin-bottom: ; /*EDIT HERE -> footer absorb*/
}

/*c1-text-------------------------------*/
.c1-text {
	font-family: 'Work Sans', sans-serif;
}
.c1-text h4 {
	font-size: 14px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: .5em;
}
.c1-text h1 {
	font-size: 58px;
	font-weight: 800;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	margin-bottom: 30px;
}
.c1-text p {
	font-size: 15px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.7);
	margin-bottom: 10px;
}
.c1-text a {
	text-decoration: none;
	display: inline-block;
	background: #9678d3;
	color: whitesmoke;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.4;
	padding: 8px 20px;
	border-radius: 8px;
	border: 1px solid transparent;
	text-transform: uppercase;
	margin-right: 15px;
	margin-bottom: ; /*edit here default 0px*/
	transition: all .55s ease;
}
.c1-text a:hover{
	color: #2d243f;
	background: transparent;
	border: 1px solid #2d243f;
	transform: translateX(3px);
}
.c1-text .disable {
	display: none;
	color: #2d243f;
	background: transparent;
	border: 1px solid #2d243f;
}

/*FAUCET TEXT DRIP--------------------------------------------*/
.c1-text .text-list {
	width: 100%;
	display: grid;
/*	grid-template-rows: repeat(2, 100px);*/
	grid-template-columns: repeat(2, 1fr);
	gap: .75em;
	margin-top: 1.25em;
	margin-bottom: ; /*EDIT HERE if errors*/
}
.c1-text .text-list .drip {
	display: ;
	max-height: 110px;
	color: whitesmoke;
	background: linear-gradient(-50deg, #9678d3 -30%, #2d243f 100%);
	border-radius: 6px;
	padding: .75em;
	text-align: center;
	overflow: hidden;
}
.text-list .drip img {
	width: 3em;
}
.text-list .drip h3 {
	font-size: .9em;
	font-weight: 600;
	line-height: 18px;
}

/*-------------------------------------------------*/
@media screen and (max-width: 1195px) {
	.content-1{
		gap: 1rem;
		grid-template-columns: 1fr;
	}
	.c1-text h1 {
		font-size: 50px;
	}
	.c1-text .text-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 769px) {
	.content-1 {
		padding: 1em;
		padding-bottom: 0;
		gap: ;
	}
	.content-tail {
		padding: 0 1em;
	}
}

/*faucet-buy ---------------------------------------*/
.c1-faucet {
	margin-top: 2em;
}

.c1-faucet .faucet-buy {
	width: 460px;
	height:;
	font-family: 'Work Sans', sans-serif;
	background: rgb(255, 255, 255);
	background: white;
	border-radius: 8px;
	padding: .5em 0.75em .8em;
	margin-top: 1em;
}
.c1-faucet .faucet-buy h3 {
/*	color: #17cf97;*/
	color: #9678d3;
	font-size: 1em;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 0.2em;
}
.c1-faucet .faucet-buy h6 {
	font-family: 'Work Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: .015em;
	color: rgba(0, 0, 0, 0.65);
	margin-bottom: .75em;
}

.c1-faucet .faucet-buy div {
	text-align: ;
}
.c1-faucet .faucet-buy div button {
	border-style: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	background: #9678d3;
	color: whitesmoke;
	padding: 0.7em 1.2em;
	margin-right: 0px;
	border-radius: 4px;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all .5s ease;
	/*	EXPERIMENT */
	margin-right: 1em;
}
.c1-faucet .faucet-buy div button:hover {
	background: transparent;
	color: #9678d3;
	border: 1px solid #9678d3;
}

@media screen and (max-width: 1195px) {
	.c1-faucet {
		margin-top: 0; /*EDIT HERE if errors*/
	}
}
@media screen and (max-width: 769px) {
	.c1-faucet .faucet-buy {
		width: 100%; /*EDIT HERE if errors*/
	}
}