nav {
	width: 100%;
	/*max-height: 3.2em; /*EDIT HERE if error*/
	position: fixed;
	display: flex;
	align-items: ;
	justify-content: space-between;
	color: whitesmoke;
	background: #2d243f;
	font-family: 'Work Sans', sans-serif;
/*	padding: .75em 5%;*/
	/*EXPERIMENT-----------------------*/
	padding: 0 3%;
	height: 3.5em;
	align-items: center;
	/*-----------------------*/
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	z-index: 100;
}
nav .brand {
	max-height: 2.75em;
/*	background: yellow;*/
	overflow: hidden;
}
nav .brand img{
	width: 3.5em;
	margin-top: .2em;
	margin-left: -.5em;
}
/*---------------------------*/
nav .menu {
	text-decoration: none;
	font-size: 1em;
	font-weight: 600;
	color: white;
}
nav .menu:hover {
/*	color: #9678d3;*/
	color: #17cf97;
}

@media screen and (max-width: 769px) {
	nav {
		padding: 1em 1em 1em .75em;
	}
	nav .menu {
		font-size: .95em;
	}
}