@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

.faucet-form {
	width: 460px; /*default 450px || 100% EDIT HERE if errors*/
/*	max-width: 100%;*/
	border-radius: 8px;
	font-family: 'Work Sans', sans-serif;
}
.faucet-form .ff-head {
	width: 100%;
	background: linear-gradient(-50deg, #9678d3 -50%, #2d243f 100%);
	color: whitesmoke;
	padding: .75em;
	border-radius: 7px;
	margin-bottom: .5em;
}
.faucet-form .ff-head h2 {
	font-size: .95em;
	font-weight: 600;
}
@media screen and (max-width: 1195px) {
	.faucet-form {width: 100%}
}
@media screen and (max-width: 769px) {
	.faucet-form {
		width: 100%; /*EDIT HERE if errors*/
		margin-top: ; /*EDIT HERE if errors*/
	}
}
/*-------------------------------------------------*/
.faucet-form .ff-body {
	width: 100%;
	background: white;
	padding: .3em .65em .75em;
	border-radius: 7px;
	overflow: ;
}
.faucet-form .ff-body .container {
	width: 100%;
	background: transparent;
	margin-bottom: .5em; /*EDIT HERE if errors*/
}
.faucet-form .ff-body .warn {
	font-size: .65em;
	font-weight: 600;
	color: #fb6060;
	margin-left: .75em;
}
.faucet-form .ff-body .container label {
	font-size: .7em;
	font-weight: 600;
	color: #9678d3;
}
.faucet-form .ff-body .container > input {
	outline: none;
	border-style: none;
	font-family: 'Work Sans', sans-serif;
	font-size: .8em;
	font-weight: 400;
	width: 100%;
	color: rgba(0, 0, 0, 0.75);
	background: #f4f2f8;
	border-radius: 5px;
	border: 2px solid #d5cde4;
	padding: .8em;
	margin-top: .5em; /*EDIT HERE if errors*/
	margin-bottom: ; /*EDIT HERE if errors*/
}
.faucet-form .ff-body .container p {
/*	background: yellow;*/
	font-size: .8em;
	line-height: 1.25;
	letter-spacing: .03em;
	color: rgba(0, 0, 0, 0.7);
	margin-top: .25em;
	margin-bottom: .25em;
}
/*-----------------------------------*/
.faucet-form .ff-body .container a {
	text-decoration: none;
	display: inline-block;
	color: white;
	background: #9678d3;
	font-size: .8em;
	font-weight: 600;
	padding: 7.5px 17.5px;
	border-radius: 5px;
}
.faucet-form .ff-body .container a i {
	margin-right: 5px;
}
.faucet-form .ff-body .container a:hover {
	color: #2d243f;
}


/*----------------------------------------------------*/
.faucet-form .ff-body .tweet {
	width: 100%;
	background: #f4f2f8;
	color: rgba(0, 0, 0, 0.6);
	font-size: .85em;
	font-weight: 500;
	line-height: 1.3;
	border-radius: 5px;
	border: 2px solid #d5cde4;
	padding: .5em .75em;
	margin: .3em 0 .5em;
}
.faucet-form .ff-body .note {
	display: block;
	color: rgba(0, 0, 0, 0.7);
	font-size: .65em;
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: .005em;
	margin-bottom: 1em;
}
.faucet-form .ff-body .submit {
	text-align: center;
}
.faucet-form .ff-body .submit button {
	font-family: 'Work Sans', sans-serif;
	font-size: .8em;
	font-weight: 600;
	padding: 10px 3.75em;
	color: white;
	background: #9678d3;
	border-radius: 5px;
	border: 1px solid transparent;
	cursor: pointer;
}
.faucet-form .ff-body .submit button:hover {
	color: #2d243f;
	border: 1px solid #B9AED0;
}